<%= form_with model: user, html: { novalidate: true }, url: registrations_path do |f| %>

  <div class="field" class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, class:"form-control", placeholder: 'Enter username', autofocus: true %>
  </div><br>

  <div class="field" class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control", placeholder: 'Enter email' %>
  </div><br>

  <div class="field" class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control", placeholder: 'Enter password' %>
  </div><br>

  <div class="field" class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:"form-control", placeholder: 'Enter password confirmation' %>
  </div><br>

  <div class="actions">
    <%= f.submit "Register", class:"btn btn-sm btn-primary" %>
    <%= link_to "Back", users_path, class:"btn btn-danger btn-sm" %>
  </div>
<% end %>